*~
*.o
*.raw
coremem
out.ptp
/panel_b18/panel_b18
/panel_b18/panel_b18
/panel_pidp1/panel_pidp1
/panel_pidp10/panel_pidp10
/panel_pidp1_kernel/.pidp1_panel.o.d
/panel_pidp1_user/panel_pidp1
/pdp1/pdp1
/pdp1/pdp1_b18
/pdp5/pdp5
/pdp6/pdp6
/pdp6/pdp6_10
/pdp_periph/pdp_periph
/pdp_periph/pdp_periphES
/tapevis/tapevis
/tools/mkptyfio
/tools/mkptyfl
/tx0/tx0_b18
/tx0/tx0_pdp1
/vpanel_pdp6/panel_pdp6
/vpanel_b18/panel_b18
/vpanel_pdp1/panel_pdp1
/vpanel_whirlwind/panel_whirlwind
/whirlwind/whirlwind
/whirlwind/whirlwind_b18
